# .editorconfig
root = true

[*]
indent_style = space # or tab
indent_size = 4      # if indent_style is space, this is number of spaces; if tab, this is tab width
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
