body
{
    background-color: #000;
}
body, a
{
    color: #ccc;
}
ul
{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
form.recordEdit ul, ul.linkList
{
    margin: 0;
    padding: 0;
    list-style: none;
}
form.recordEdit li
{

}
table.recordList
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width:0;
    border: 1px solid #333;
    margin-bottom: 50px;
}
table.recordList tr.odd
{
}
table.recordList tr.even
{
    background-color: #333;
}
table.recordList tbody tr:hover
{
    background-color: #025;
}

table.recordList td, table.recordList th
{
    margin: 0;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
}
table.recordList td.rowButtons
{
    text-align: center;
}
form.inlineButton
{
    float: none;
    display: inline-block;
    margin:0 0 0 10px
}
a:hover
{
    text-decoration: none;
}
div.topMenu
{
    margin-bottom: 30px;
}
div.paginator
{
    width:300px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
div.paginator form.inlineButton
{
    float: none;
    display: inline-block;
}
div.paginator div.navigateButtons
{
    text-align: center;
    width: 100%;
}
div.paginator div.pageTracker
{
    width:100%;
    text-align: center;
    margin-bottom:10px;
}
ul.filterForm
{
    list-style: none;
    margin:0;
    padding: 0;
}
ul.filterForm li
{
    margin-bottom:3px;
}
div.filterForm
{
    margin-top:30px;
}
div.addButton
{
    display: block;
    text-align: center;
}
table.recordList tbody tr td.primary-phone
{
    text-align: center;
}
table.recordList thead tr th.primary-phone
{
    text-align: center;
}
table.recordList thead tr th.date-of-birth
{
    text-align: center;
}
table.recordList tbody tr td.date-of-birth
{
    text-align: center;
}
ul.loginForm
{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
div.loginForm
{
    text-align: center;
}
div.loginForm form
{
    display: inline-block;
}
div.loginForm form label
{
    float: left;
}
ol
{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
ol li
{
    margin-bottom: 10px;
}
h1
{
    text-align: center;
    font-family: sans-serif;
    font-size: x-large;
}
p.getting-started
{
    text-align: center;
}
div.getting-started ol li
{
    text-align: justify;
}
div.filterForm form ul
{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
div.filterForm form ul li
{
    display: inline-block;
}

div.userProfileView
{
    display: block;
    text-align: center;
    width:500px;
    margin-left: auto;
    margin-right: auto;
}

div.loginForm, div.signUpLink, div.signUp, div.editProfile
{
    text-align: left;
    width:200px;
    margin-left: auto;
    margin-right: auto;
}

div.loginForm li, div.signUp li, div.editProfile li
{
    padding-top: 10px;
}

div.loginForm ul, div.signUp ul, div.editProfile ul
{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
div.loginForm form input, div.signUp form input, div.editProfile form input
{
    margin-top: 10px;
}
div.errorMessage
{
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: rgba(80,0,0,0.3);
    font-size:medium;
    border:1px solid #333;
}

div.filterForm table
{
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
div.filterForm table td
{
    margin: 0;
    padding: 0;
    border: none;
}

div.filterForm table tr
{
    vertical-align: top;
}
div.filterForm
{
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    margin-bottom: 10px;
}
div.filterForm select, div.filterForm input
{
    margin-right: 5px;
    margin-bottom: 5px;

}
div.addButton
{
    margin-bottom: 10px;
}
table.inputSet
{
    background-color: rgba(40,40,40,0.5);
    border: 1px solid #666;
    padding: 30px;
    margin: 10px auto 30px;
}
table.inputSet td
{
    text-align: center;
    vertical-align: top;
}
table.inputSet ul li
{
    margin-bottom:10px;
}
ul.editFormButtons
{
    display: block;
}
ul.editFormButtons li
{
    display: inline-block;
    margin: 30px 10px 0 10px;
}
a.button {
    display: inline-block;
    margin: 0;
    padding-right: 3px;
    padding-left: 3px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    text-decoration: none;
}
a.button:hover,
a.button:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    text-decoration: none;
}
div.fileInputDialogue
{
    margin:10px 0 10px 0;
}
input.file
{
    margin: 10px 0 10px 0;
}
label
{
    display: block;
    margin-bottom: 8px;
    margin-top:16px;
}
